body{
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1440px;
    display: flex ;
    flex-flow: column;
    background-color: #10002b;
}
main{
background-color: #10002b;
display: inline-block;
align-items: center;
justify-content: center;
}
h1 {
    color: #c77dff;
    font-size: xx-large;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 310px;
    flex-flow: column;
}
footer {
    background-color:#5a189a ;
}
.rede1, .rede2, .rede3 {
    display: inline-block;
    height: 50px;
    width: 50px;
}
.redes{
    transition: 0.3s;
    text-decoration: dashed;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 0 0 #c77dff;
    margin: 10px;
    background-color: #240046
}
.redes a:hover {
    color: #10002b;
}
.um, .dois, .tres{
    transition: 0.3s;
}
.um:hover, .dois:hover, .tres:hover{
    font-size: 25px;
}
a {
    color: #c77dff;
    text-decoration: none;
    padding: 10px;
}
.hg-conteudo{
    flex: 1;
    display: flex;
    flex-flow: column;
}
.hg-conteudo > nav{
order: -1;
}
header{
    background-color: #10002b;

}
.foto{
transition: 0.5s;
height: 120px;
width: 120px;
border-radius: 120px;
border: 2px solid #e0aaff
}

.foto:hover {
    width: 180px;
    height: 180px;
}
.card {
    width: 250px;
    height: 350px;
    position: relative;
    perspective: 800px;
    margin: 10px;
}
.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    border: 2px solid #5a189a;
    border-radius: 10px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.front {
    background-color: #10002b;
    color: #c77dff
}
.back {
    background-color: #5a189a;
    color: #eeeeee;
    transform: rotateY(-180deg)
}
.card:hover .front {
    transform: rotateY(180deg);
}
.card:hover .back{
    transform: rotateY(0);
}
.front h1{
    display: flex;
    justify-content: center;
    margin-top: 55%;
}
.back p {
    font-size: large;
    font-style: oblique;
    margin: 10px;
}

 aside{
    background-color: #10002b;
    color: #c77dff;
}
.hg-conteudo > main{
    flex: 1;
}
@media (min-width: 768px) {
    .hg-conteudo {
        flex-flow: row;
    }    
}
@media (min-width: 768px) {
    /* ... */

    .hg-conteudo > main {
        flex: 1;
    }
}
@media (min-width: 768px) {
    /* ... */

    .hg-conteudo > aside{
        flex: 0 0 200px;
    }
}

